body {
    overflow: hidden;
    margin: 0;
}

.headerSpace {
    alignment: center;
    position: absolute;
    width: 100%;

    color: #f2f2f2;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 3px 0.4em black;

    user-select: none;
    z-index: 1;
}

#title {
    margin-top: 10px;
    padding: 5px;
    font-size: 17px;
}

#wonderName {
    padding: 5px;
    font-size: 12px;
}

#hintMouseOver {
    position: absolute;
    font-family: monospace;
    font-size: 12px;
    text-shadow: 1px 3px 0.4em black;
    color: #f2f2f2;
    background-color: black;
}

.lowerSpace {
    padding: 7px;
    position: absolute;
    bottom: 0;
    width: 100%;

    color: #f2f2f2;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    text-shadow: 1px 3px 0.4em black;
    background-color: black;

    user-select: none;
    z-index: 1;
}

.myLink {
    color: #f2f2f2;
    font-size: 12px;
    text-shadow: 1px 3px 0.4em black;
}

.myLink:hover {
    color: #ffffff;
    text-shadow: 1px 1px 0.4em white;
}